In [3]:
import pandas as pd 
import numpy as np
import datetime
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df=pd.read_csv('international_matches.csv')
df.head()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.isnull().sum()

date                                 0
home_team                            0
away_team                            0
home_team_continent                  0
away_team_continent                  0
home_team_fifa_rank                  0
away_team_fifa_rank                  0
home_team_total_fifa_points          0
away_team_total_fifa_points          0
home_team_score                      0
away_team_score                      0
tournament                           0
city                                 0
country                              0
neutral_location                     0
shoot_out                            0
home_team_result                     0
home_team_goalkeeper_score       15542
away_team_goalkeeper_score       15826
home_team_mean_defense_score     16134
home_team_mean_offense_score     15411
home_team_mean_midfield_score    15759
away_team_mean_defense_score     16357
away_team_mean_offense_score     15609
away_team_mean_midfield_score    15942
dtype: int64

In [6]:
df.shape

(23921, 25)

In [7]:
df.nunique()

date                             5550
home_team                         211
away_team                         211
home_team_continent                 6
away_team_continent                 6
home_team_fifa_rank               211
away_team_fifa_rank               211
home_team_total_fifa_points      1686
away_team_total_fifa_points      1679
home_team_score                    21
away_team_score                    18
tournament                         82
city                             1576
country                           217
neutral_location                    2
shoot_out                           2
home_team_result                    3
home_team_goalkeeper_score         50
away_team_goalkeeper_score         50
home_team_mean_defense_score      127
home_team_mean_offense_score      103
home_team_mean_midfield_score     134
away_team_mean_defense_score      127
away_team_mean_offense_score      103
away_team_mean_midfield_score     134
dtype: int64

In [8]:
df.dtypes

date                              object
home_team                         object
away_team                         object
home_team_continent               object
away_team_continent               object
home_team_fifa_rank                int64
away_team_fifa_rank                int64
home_team_total_fifa_points        int64
away_team_total_fifa_points        int64
home_team_score                    int64
away_team_score                    int64
tournament                        object
city                              object
country                           object
neutral_location                    bool
shoot_out                         object
home_team_result                  object
home_team_goalkeeper_score       float64
away_team_goalkeeper_score       float64
home_team_mean_defense_score     float64
home_team_mean_offense_score     float64
home_team_mean_midfield_score    float64
away_team_mean_defense_score     float64
away_team_mean_offense_score     float64
away_team_mean_midfield_score    float64
dtype: object

In [9]:
numerical_fe=[f for f in df if df[f].dtype=='int64' or df[f].dtype=='float64']
numerical_fe

['home_team_fifa_rank',
 'away_team_fifa_rank',
 'home_team_total_fifa_points',
 'away_team_total_fifa_points',
 'home_team_score',
 'away_team_score',
 'home_team_goalkeeper_score',
 'away_team_goalkeeper_score',
 'home_team_mean_defense_score',
 'home_team_mean_offense_score',
 'home_team_mean_midfield_score',
 'away_team_mean_defense_score',
 'away_team_mean_offense_score',
 'away_team_mean_midfield_score']

In [10]:
cat_fe=[f for f in df if df[f].dtype=='object']

In [11]:
cat_fe

['date',
 'home_team',
 'away_team',
 'home_team_continent',
 'away_team_continent',
 'tournament',
 'city',
 'country',
 'shoot_out',
 'home_team_result']

In [12]:
df['home_team'].value_counts()

home_team
Mexico                      316
USA                         314
Japan                       280
Saudi Arabia                272
Korea Republic              249
                           ...
Timor-Leste                  16
Tonga                        15
Anguilla                     13
Cook Islands                 10
Turks and Caicos Islands      8
Name: count, Length: 211, dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23921 entries, 0 to 23920
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   date                           23921 non-null  object
 1   home_team                      23921 non-null  object
 2   away_team                      23921 non-null  object
 3   home_team_continent            23921 non-null  object
 4   away_team_continent            23921 non-null  object
 5   home_team_fifa_rank            23921 non-null  int64
 6   away_team_fifa_rank            23921 non-null  int64
 7   home_team_total_fifa_points    23921 non-null  int64
 8   away_team_total_fifa_points    23921 non-null  int64
 9   home_team_score                23921 non-null  int64
 10  away_team_score                23921 non-null  int64
 11  tournament                     23921 non-null  object
 12  city                           23921 non-null  object
 13  country                        23921 non-null  object
 14  neutral_location               23921 non-null  bool
 15  shoot_out                      23921 non-null  object
 16  home_team_result               23921 non-null  object
 17  home_team_goalkeeper_score     8379 non-null   float64
 18  away_team_goalkeeper_score     8095 non-null   float64
 19  home_team_mean_defense_score   7787 non-null   float64
 20  home_team_mean_offense_score   8510 non-null   float64
 21  home_team_mean_midfield_score  8162 non-null   float64
 22  away_team_mean_defense_score   7564 non-null   float64
 23  away_team_mean_offense_score   8312 non-null   float64
 24  away_team_mean_midfield_score  7979 non-null   float64
dtypes: bool(1), float64(8), int64(6), object(10)
memory usage: 4.4+ MB

In [14]:
df['date']=pd.to_datetime(df['date'])
df

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23916,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,932,1040,2,...,No,Win,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23917,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,895,1105,0,...,No,Lose,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,...,Yes,Lose,79.0,74.0,75.5,76.7,78.2,75.5,76.0,78.2
23919,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,1553,1499,0,...,No,Lose,73.0,NaN,75.2,75.0,77.5,70.8,72.3,74.0
23920,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,1519,1500,4,...,No,Win,75.0,NaN,73.0,80.0,73.8,NaN,79.3,70.8

In [15]:
df.columns

Index(['date', 'home_team', 'away_team', 'home_team_continent',
       'away_team_continent', 'home_team_fifa_rank', 'away_team_fifa_rank',
       'home_team_total_fifa_points', 'away_team_total_fifa_points',
       'home_team_score', 'away_team_score', 'tournament', 'city', 'country',
       'neutral_location', 'shoot_out', 'home_team_result',
       'home_team_goalkeeper_score', 'away_team_goalkeeper_score',
       'home_team_mean_defense_score', 'home_team_mean_offense_score',
       'home_team_mean_midfield_score', 'away_team_mean_defense_score',
       'away_team_mean_offense_score', 'away_team_mean_midfield_score'],
      dtype='object')

top teams

In [23]:
fifa_rank=df[['date', 'home_team', 'away_team','home_team_fifa_rank', 'away_team_fifa_rank','home_team_total_fifa_points', 'away_team_total_fifa_points']]
home=fifa_rank[['date', 'home_team','home_team_fifa_rank','home_team_total_fifa_points']].rename(columns={'home_team':'team','home_team_fifa_rank':'rank','home_team_total_fifa_points':'rank_points'})
away=fifa_rank[['date', 'away_team','away_team_fifa_rank','away_team_total_fifa_points']].rename(columns={'away_team':'team','away_team_fifa_rank':'rank','away_team_total_fifa_points':'rank_points'})
fifa_rank = pd.concat([home, away])
fifa_rank=fifa_rank.sort_values(['team','date'],ascending=[True,False])
fifa_rank['row_number']=fifa_rank.groupby('team').cumcount()+1
fifa_rank_top=fifa_rank[fifa_rank['row_number']==1].drop('row_number',axis=1).nsmallest(10,'rank')
fifa_rank_top

            date         team  rank  rank_points
23760 2022-06-06       Brazil     1         1832
23909 2022-06-14      Belgium     2         1827
23885 2022-06-13       France     3         1789
23741 2022-06-05    Argentina     4         1765
23906 2022-06-14      England     5         1761
23907 2022-06-14        Italy     6         1723
23866 2022-06-12        Spain     7         1709
23867 2022-06-12     Portugal     8         1674
23903 2022-06-14       Mexico     9         1658
23908 2022-06-14  Netherlands    10         1658

In [29]:
colums_contains_null=[col for col in df.columns if df[col].isnull().any()]
colums_contains_null

['home_team_goalkeeper_score',
 'away_team_goalkeeper_score',
 'home_team_mean_defense_score',
 'home_team_mean_offense_score',
 'home_team_mean_midfield_score',
 'away_team_mean_defense_score',
 'away_team_mean_offense_score',
 'away_team_mean_midfield_score']

In [36]:
for col in colums_contains_null:
    df[col]=df[col].fillna(0)

In [38]:
df.isnull().sum()

date                             0
home_team                        0
away_team                        0
home_team_continent              0
away_team_continent              0
home_team_fifa_rank              0
away_team_fifa_rank              0
home_team_total_fifa_points      0
away_team_total_fifa_points      0
home_team_score                  0
away_team_score                  0
tournament                       0
city                             0
country                          0
neutral_location                 0
shoot_out                        0
home_team_result                 0
home_team_goalkeeper_score       0
away_team_goalkeeper_score       0
home_team_mean_defense_score     0
home_team_mean_offense_score     0
home_team_mean_midfield_score    0
away_team_mean_defense_score     0
away_team_mean_offense_score     0
away_team_mean_midfield_score    0
dtype: int64

In [39]:
df['away_team_code'] = df['away_team'].astype('category').cat.codes
df['day_code'] = df['date'].dt.dayofweek

In [40]:
df.head()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,away_team_code,day_code
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202,6
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,124,6
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,205,6
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,166,6
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8,6

In [41]:
df.home_team_result

0         Win
1        Draw
2         Win
3         Win
4        Lose
         ...
23916     Win
23917    Lose
23918    Lose
23919    Lose
23920     Win
Name: home_team_result, Length: 23921, dtype: object

In [44]:
df['neutral_loc']=(df['neutral_location']==True).astype('int')
df['penalties']=(df['shoot_out']=='Yes').astype('int')
df['target']=(df['home_team_result']=='Win').astype('int')

In [45]:
df.head()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,away_team_code,day_code,neutral_loc,penalties,target
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,0.0,0.0,0.0,0.0,0.0,202,6,0,0,1
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,0.0,0.0,0.0,0.0,0.0,124,6,0,0,0
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,0.0,0.0,0.0,0.0,0.0,205,6,0,0,1
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,0.0,0.0,0.0,0.0,0.0,166,6,0,0,1
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,0.0,0.0,0.0,0.0,0.0,8,6,0,0,0

In [47]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score

In [48]:
rf=RandomForestClassifier(n_estimators=50,min_samples_split=10,random_state=10)

In [50]:
train=df[df['date']<'2022-01-01']
test=df[df['date']>'2022-01-01']

In [51]:
df.columns

Index(['date', 'home_team', 'away_team', 'home_team_continent',
       'away_team_continent', 'home_team_fifa_rank', 'away_team_fifa_rank',
       'home_team_total_fifa_points', 'away_team_total_fifa_points',
       'home_team_score', 'away_team_score', 'tournament', 'city', 'country',
       'neutral_location', 'shoot_out', 'home_team_result',
       'home_team_goalkeeper_score', 'away_team_goalkeeper_score',
       'home_team_mean_defense_score', 'home_team_mean_offense_score',
       'home_team_mean_midfield_score', 'away_team_mean_defense_score',
       'away_team_mean_offense_score', 'away_team_mean_midfield_score',
       'away_team_code', 'day_code', 'neutral_loc', 'penalties', 'target'],
      dtype='object')

In [52]:
predictors=['away_team_code', 'day_code', 'neutral_loc', 'penalties', 'home_team_goalkeeper_score', 'away_team_goalkeeper_score',
'home_team_mean_defense_score', 'home_team_mean_offense_score', 'home_team_mean_midfield_score', 'away_team_mean_defense_score',
'away_team_mean_offense_score', 'away_team_mean_midfield_score', 'home_team_fifa_rank', 'away_team_fifa_rank', 'home_team_total_fifa_points','away_team_total_fifa_points']

In [54]:
rf.fit(train[predictors],train['target'])

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=10)

In [55]:
pred=rf.predict(test[predictors])

In [56]:
pred[:10]

array([0, 0, 0, 0, 0, 0, 1, 0, 1, 1])

Testing accuray

In [58]:
acc=accuracy_score(test['target'],pred)

In [59]:
acc

0.6952714535901926

In [61]:
combined = pd.DataFrame(dict(actual=test['target'], predcition=pred))
pd.crosstab(index=combined['actual'], columns=combined['predcition'])

predcition    0    1
actual
0           197   82
1            92  200

In [63]:
france_home = df[df['home_team'] == 'France'].sort_values(['date'], ascending = False)[:1]
france_away = df[df['away_team'] == 'France'].sort_values(['date'], ascending = False)[:1]
morocco_home = df[df['home_team'] == 'Morocco'].sort_values(['date'], ascending = False)[:1]
morocco_away=df[df['away_team'] == 'Morocco'].sort_values(['date'], ascending = False)[:1]
argentina_home = df[df['home_team'] == 'Argentina'].sort_values(['date'], ascending = False)[:1]
argentina_away = df[df['away_team'] == 'Argentina'].sort_values(['date'], ascending = False)[:1]
croatia_home =df[df['home_team'] == 'Croatia'].sort_values(['date'], ascending = False)[:1]
croatia_away = df[df['away_team'] == 'Croatia'].sort_values(['date'], ascending = False)[:1]

In [65]:
semi_fin = pd.concat([france_home,france_away, morocco_home, morocco_away, argentina_home, argentina_away, croatia_home, croatia_away])

In [66]:
semi_fin

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,away_team_code,day_code,neutral_loc,penalties,target
23885,2022-06-13,France,Croatia,Europe,Europe,3,16,1789,1621,0,...,88.3,86.8,77.8,76.7,84.2,49,0,0,0,0
23826,2022-06-10,Austria,France,Europe,Europe,34,3,1500,1789,1,...,77.0,80.8,84.2,88.3,86.8,71,4,0,0,0
23879,2022-06-13,Morocco,Liberia,Africa,Africa,24,149,1551,1050,2,...,81.7,76.2,0.0,64.0,0.0,110,0,0,0,1
23665,2022-06-01,USA,Morocco,North America,Africa,15,24,1633,1551,3,...,77.7,75.8,81.2,81.7,76.2,129,2,0,0,1
23741,2022-06-05,Argentina,Estonia,South America,Europe,4,110,1765,1169,5,...,89.0,84.0,0.0,0.0,0.0,65,6,1,0,1
23653,2022-06-01,Italy,Argentina,Europe,South America,6,4,1723,1765,0,...,85.3,84.5,82.2,89.0,84.0,8,2,1,0,0
23753,2022-06-06,Croatia,France,Europe,Europe,16,3,1621,1789,1,...,76.7,84.2,84.2,88.3,86.8,71,0,0,0,0
23885,2022-06-13,France,Croatia,Europe,Europe,3,16,1789,1621,0,...,88.3,86.8,77.8,76.7,84.2,49,0,0,0,0

In [68]:
semi_fin['home_team_fifa_rank'] = [4,33,22,15,3,6, 16, 4]
semi_fin['home_team_total_fifa_points'] = [1759,1500,1563,1633,1765,1773,1621,1759]
semi_fin['away_team_fifa_rank'] = [16,4,149,22,110,3,4,16]
semi_fin['away_team_total_fifa_points'] = [1621,1759,1050,1563,1169,1765,1759,1621]
semi_fin

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,away_team_code,day_code,neutral_loc,penalties,target
23885,2022-06-13,France,Croatia,Europe,Europe,4,16,1759,1621,0,...,88.3,86.8,77.8,76.7,84.2,49,0,0,0,0
23826,2022-06-10,Austria,France,Europe,Europe,33,4,1500,1759,1,...,77.0,80.8,84.2,88.3,86.8,71,4,0,0,0
23879,2022-06-13,Morocco,Liberia,Africa,Africa,22,149,1563,1050,2,...,81.7,76.2,0.0,64.0,0.0,110,0,0,0,1
23665,2022-06-01,USA,Morocco,North America,Africa,15,22,1633,1563,3,...,77.7,75.8,81.2,81.7,76.2,129,2,0,0,1
23741,2022-06-05,Argentina,Estonia,South America,Europe,3,110,1765,1169,5,...,89.0,84.0,0.0,0.0,0.0,65,6,1,0,1
23653,2022-06-01,Italy,Argentina,Europe,South America,6,3,1773,1765,0,...,85.3,84.5,82.2,89.0,84.0,8,2,1,0,0
23753,2022-06-06,Croatia,France,Europe,Europe,16,4,1621,1759,1,...,76.7,84.2,84.2,88.3,86.8,71,0,0,0,0
23885,2022-06-13,France,Croatia,Europe,Europe,4,16,1759,1621,0,...,88.3,86.8,77.8,76.7,84.2,49,0,0,0,0

In [69]:
home_stats = semi_fin.filter(regex='home')
away_stats = semi_fin.filter(regex='away')

In [70]:
final_home = home_stats[(home_stats['home_team'] == 'Argentina') | (home_stats['home_team'] == 'France')]
final_away = away_stats[(away_stats['away_team'] == 'Argentina') | (away_stats['away_team'] == 'France')]

In [71]:
final_home = final_home[:-1]
final_away = final_away[:-1]

In [72]:
dates= [pd.to_datetime('2022-12-18'), pd.to_datetime('2022-12-18')]

final_home.insert(loc=0,column='date', value=dates)
final_home['day_code'] = [6,6]
final_home['neutral_loc'] = [1,1]
final_home['penalties'] = [0,0]

In [73]:
final_home.index =[0,1]
final_away.index =[1,0]
final_away

,away_team,away_team_continent,away_team_fifa_rank,away_team_total_fifa_points,away_team_score,away_team_goalkeeper_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,away_team_code
1,France,Europe,4,1759,1,87.0,84.2,88.3,86.8,71
0,Argentina,South America,3,1765,3,84.0,82.2,89.0,84.0,8

In [74]:
finals = pd.concat([final_home, final_away],axis=1)

In [75]:
finals

,date,home_team,home_team_continent,home_team_fifa_rank,home_team_total_fifa_points,home_team_score,home_team_result,home_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,...,away_team,away_team_continent,away_team_fifa_rank,away_team_total_fifa_points,away_team_score,away_team_goalkeeper_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,away_team_code
0,2022-12-18,France,Europe,4,1759,0,Lose,87.0,84.2,88.3,...,Argentina,South America,3,1765,3,84.0,82.2,89.0,84.0,8
1,2022-12-18,Argentina,South America,3,1765,5,Win,84.0,82.2,89.0,...,France,Europe,4,1759,1,87.0,84.2,88.3,86.8,71

In [76]:
finals[['home_team', 'away_team']]

   home_team  away_team
0     France  Argentina
1  Argentina     France

In [78]:
finals_preds = rf.predict(finals[predictors])

In [79]:
finals_preds

array([1, 0])

In [81]:
#france is most likely to win against argentina in finals with 69.52% accuracy